.blog-entries__list {
    list-style: none;
}

.blog-entry__wrapper {
    margin-bottom: $spacing-1;
}

.blog-entry__title-wrapper {
    display: flex;
    align-items: flex-start;
}

.blog-entry__thumbnail {
    flex-shrink: 1;
}

.blog-entry__title {
    font-size: $fontSize-3;
    margin: 0;
    margin-left: $spacing-1;
}

.blog-entry__description {

    img {
        display: none;
    }
}