.blog-entries__list {
    list-style: none;
}

.blog-entry__wrapper {
    margin-bottom: $spacing-1;
    display: flex;
    align-items: flex-start;
}

.blog-entry__thumbnail {
    flex-shrink: 1;
}

.blog-entry__content {
    margin-left: $spacing-1;
}

.blog-entry__title {
    font-size: $fontSize-3;
}

.blog-entry__description {
}