.page__title {
    text-align: center;
    font-size: $fontSize-4;
}

.page__section {
    margin-bottom: $spacing-4;
}

.text-content {
    margin: 0 auto $spacing-1 auto;
    max-width: 62.5rem;
    font-size: $fontSize-1;
}
