.site-footer {
    padding: $spacing-1;
    margin-top: $spacing-2;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.social-icons {
    font-size: $fontSize-3;
    padding: 0 $spacing-2;

    a {
        text-decoration: none;
        display: inline-block;
        color: $color-text;
        
        &:hover,
        &:focus,
        &:active {
            color: $color-blue-700;
        }
    }

    i {
        margin: 0 $spacing-quarter;
    }
}

.social-icons__label {
    font-size: $fontSize-n1;
}