.site-header {
    width: 100%;
    text-align: center;
}

.site-header__nav {
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: $spacing-2 $spacing-1;
    font-size: $fontSize-1;

    ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    li {
        padding: 0 $spacing-1;
    }

    a {
        color: #333;
        text-decoration: none;
        &:hover {
            color: #999;
        }
    }
}