html {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.4) 70%,rgba(0, 0, 0, 0.7) 90%),
        url(/assets/luscious.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    overflow: hidden;
}

.home__title {
    @extend .page__title;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $fontSize-4;
    letter-spacing: 2px;

    @media (min-width: $screen-sm_min) {
        font-size: $fontSize-5;
    }
}

.home__main {
    padding:  0;
}