body {
    margin: 0;
}

.site-wrapper {
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    >main {
        flex-grow: 1;
    }
}

.content-wrapper {
    width: 100%;
    padding: 0 $spacing-1;
    max-width: 120rem;
    margin: 0 auto;
    box-sizing: border-box;
}