/*
   BREAKPOINTS
*/

$screen-xs_min: 25em; /* 400px  */
$screen-sm_min: 32em; /* 512px  */
$screen-md_min: 48em; /* 768px  */
$screen-lg_min: 64em; /* 1024px */
$screen-xl_min: 90em; /* 1440px */
$screen-xxl_min: 120em; /* 1920px */

$screen-xxs_max: 24.9375; /* 399px  */
$screen-xs_max: 31.9375em; /* 511px  */
$screen-sm_max: 47.9375em; /* 767px  */
$screen-md_max: 63.9375em; /* 1023px */
$screen-lg_max: 89.9375em; /* 1439px */
$screen-xl_max: 119.9375em; /* 1919px */


/*
   COLORS
*/

$color-white: #ffffff;
$color-black: #000000;
$color-nearBlack: #141515;

$color-primary: #00bbd3;
$color-primary-dark: #009eb2;
$color-secondary: #009688;
$color-secondary-dark: #00756a;
$color-tertiary: #3e50b4;
$color-tertiary-dark: #32408f;

/*
    Color palet from Gemma by Cole Peters
    https://github.com/colepeters/gemma
*/
$color-red-100: #ffbabf;
$color-red-300: #f2777f;
$color-red-500: #eb4651;
$color-red-700: #b82832;
$color-red-900: #7a1b21;

$color-yellow-100: #ffd183;
$color-yellow-300: #ffb76e;
$color-yellow-500: #ff9c38;
$color-yellow-700: #cc6f12;
$color-yellow-900: #8f4700;

$color-green-100: #baefba;
$color-green-300: #9aed9a;
$color-green-500: #6cd96c;
$color-green-700: #479e47;
$color-green-900: #2c612c;

$color-aqua-100: #b9f1de;
$color-aqua-300: #7ae4c0;
$color-aqua-500: #2bd99f;
$color-aqua-700: #0f996b;
$color-aqua-900: #227358;

$color-cyan-100: #b1ecf2;
$color-cyan-300: #6edae6;
$color-cyan-500: #2bc7d9;
$color-cyan-700: #1095a3;
$color-cyan-900: #0c7b87;

$color-blue-100: #acd6f2;
$color-blue-300: #65a9dc;
$color-blue-500: #2887c7;
$color-blue-700: #116ca8;
$color-blue-900: #024a7a;

$color-purple-100: #cac1f5;
$color-purple-300: #a69ae3;
$color-purple-500: #8675d9;
$color-purple-700: #6153a6;
$color-purple-900: #493f7d;

$color-violet-100: #e4c7f1;
$color-violet-300: #b689ca;
$color-violet-500: #a065ba;
$color-violet-700: #744987;
$color-violet-900: #5f406b;

$color-magenta-100: #ffbad1;
$color-magenta-300: #f57fa6;
$color-magenta-500: #e65082;
$color-magenta-700: #a3395c;
$color-magenta-900: #80364e;

$color-gray-100: #e6e9eb;
$color-gray-300: #cdcfd1;
$color-gray-500: #a7a9ab;
$color-gray-700: #707273;
$color-gray-900: #414242;

$color-warmGray-100: #e8e5e1;
$color-warmGray-300: #d9d4ce;
$color-warmGray-500: #c7c1bb;
$color-warmGray-700: #96908a;
$color-warmGray-900: #6b6660;

$color-coolGray-100: #e4e9eb;
$color-coolGray-300: #d0d7db;
$color-coolGray-500: #bbc2c7;
$color-coolGray-700: #929ba1;
$color-coolGray-900: #656d73;

$color-text: $color-nearBlack;
$color-text-light: #81858B;
$color-highlight: #FFFB90;
$color-code: #FFEDF4;
$color-link: #147BFF;
$color-link-hover: #147BFF;
$color-focus: $color-blue-300;


/*
   TYPE SCALE
*/

$ratio: 1.333;
$mobile-ratio: 1.2;

$scale-n1: 1 / $ratio;
$scale-0: 1;
$scale-1: $ratio;
$scale-2: $ratio * $scale-1;
$scale-3: $ratio * $scale-2;
$scale-4: $ratio * $scale-3;
$scale-5: $ratio * $scale-4;
$scale-6: $ratio * $scale-5;
$scale-7: $ratio * $scale-6;

$mobile-scale-n1: 1 / $mobile-ratio;
$mobile-scale-0: 1;
$mobile-scale-1: $mobile-ratio;
$mobile-scale-2: $mobile-ratio * $mobile-scale-1;
$mobile-scale-3: $mobile-ratio * $mobile-scale-2;
$mobile-scale-4: $mobile-ratio * $mobile-scale-3;
$mobile-scale-5: $mobile-ratio * $mobile-scale-4;
$mobile-scale-6: $mobile-ratio * $mobile-scale-5;
$mobile-scale-7: $mobile-ratio * $mobile-scale-6;

/*
   TYPOGRAPHY
*/
$base-font-rem: (1.6 * 1rem);
$mobile-base-font-rem: (1.4 * 1rem);

$lineHeight: 1.6;

$fontSize-n1: ($base-font-rem * $scale-n1);
$fontSize-1: ($base-font-rem * $scale-0);
$fontSize-2: ($base-font-rem * $scale-1);
$fontSize-3: ($base-font-rem * $scale-2);
$fontSize-4: ($base-font-rem * $scale-3);
$fontSize-5: ($base-font-rem * $scale-4);
$fontSize-6: ($base-font-rem * $scale-5);
$fontSize-7: ($base-font-rem * $scale-6);
$fontSize-8: ($base-font-rem * $scale-7);

$mobile-fontSize-n1: ($mobile-base-font-rem * $mobile-scale-n1);
$mobile-fontSize-1: ($mobile-base-font-rem * $mobile-scale-0);
$mobile-fontSize-2: ($mobile-base-font-rem * $mobile-scale-1);
$mobile-fontSize-3: ($mobile-base-font-rem * $mobile-scale-2);
$mobile-fontSize-4: ($mobile-base-font-rem * $mobile-scale-3);
$mobile-fontSize-5: ($mobile-base-font-rem * $mobile-scale-4);
$mobile-fontSize-6: ($mobile-base-font-rem * $mobile-scale-5);
$mobile-fontSize-7: ($mobile-base-font-rem * $mobile-scale-6);
$mobile-fontSize-8: ($mobile-base-font-rem * $mobile-scale-7);

$fontWeight-thin: 300;
$fontWeight-normal: 400;
$fontWeight-bold: 600;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');

$fontFamily-sans: 'Noto Sans JP', Helvetica, Arial, sans-serif;
$fontFamily-serif: Georgia, Cambria, Times,serif;
$fontFamily-mono: Consolas, Courier, monospace;
$fontFamily-heading: $fontFamily-serif;

/*
   SPACING
*/
$spacing-quarter: ($base-font-rem / 4); /* 4px   */
$spacing-half: ($base-font-rem / 2); /* 8px   */
$spacing-1: ($base-font-rem); /* 16px  */
$spacing-2: ($spacing-1 * 2); /* 32px  */
$spacing-3: ($spacing-1 * 3); /* 48px  */
$spacing-4: ($spacing-1 * 4); /* 64px  */
$spacing-line: (1em * $lineHeight); /* Whatever font size on element is times the line-height */
